<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <!--<add name="MainDB" connectionString="SERVER=DESKTOP-V869AFV;UID=sa;pwd=1234;DATABASE=GeneralLedger;Async=true" providerName="System.Data.SqlClient" />
    <add name="GeneralLedgerContext" connectionString="metadata=res://*/Domain.GeneralLedgerContext.csdl|res://*/Domain.GeneralLedgerContext.ssdl|res://*/Domain.GeneralLedgerContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-V869AFV;initial catalog=GeneralLedger;User ID=sa;Password=1234;integrated security=False;Trusted_Connection=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GeneralLedger.Properties.Settings.GeneralLedgerConnectionString" connectionString="Data Source=DESKTOP-V869AFV;Initial Catalog=GeneralLedger;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />-->
    
    <add name="MainDB" connectionString="SERVER=LAPTOP-447I1DCI;UID=sa;pwd=1234;DATABASE=GeneralLedger;Async=true" providerName="System.Data.SqlClient" />
    <add name="GeneralLedgerContext" connectionString="metadata=res://*/Domain.GeneralLedgerContext.csdl|res://*/Domain.GeneralLedgerContext.ssdl|res://*/Domain.GeneralLedgerContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-447I1DCI;initial catalog=GeneralLedger;User ID=sa;Password=1234;integrated security=False;Trusted_Connection=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GeneralLedger.Properties.Settings.GeneralLedgerConnectionString" connectionString="Data Source=LAPTOP-447I1DCI;Initial Catalog=GeneralLedger;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />

    
    <!--<add name="MainDB" connectionString="SERVER=DESKTOP-V869AFV;UID=sa;pwd=1234;DATABASE=GeneralLedger;Async=true" providerName="System.Data.SqlClient" />
    <add name="GeneralLedgerContext" connectionString="metadata=res://*/Domain.GeneralLedgerContext.csdl|res://*/Domain.GeneralLedgerContext.ssdl|res://*/Domain.GeneralLedgerContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-V869AFV;initial catalog=GeneralLedger;User ID=sa;Password=1234;integrated security=False;Trusted_Connection=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GeneralLedger.Properties.Settings.GeneralLedgerConnectionString" connectionString="Data Source=DESKTOP-V869AFV;Initial Catalog=GeneralLedger;Persist Security Info=True;User ID=sa;Password=1234" providerName="System.Data.SqlClient" />-->
    
    <!--<add name="MainDB" connectionString="SERVER=DESKTOP-GMON3EJ;UID=sa;pwd=123456;DATABASE=GeneralLedger;Async=true" providerName="System.Data.SqlClient" />
    <add name="GeneralLedgerContext" connectionString="metadata=res://*/Domain.GeneralLedgerContext.csdl|res://*/Domain.GeneralLedgerContext.ssdl|res://*/Domain.GeneralLedgerContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GMON3EJ;initial catalog=GeneralLedger;User ID=sa;Password=123456;integrated security=False;Trusted_Connection=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GeneralLedger.Properties.Settings.GeneralLedgerConnectionString" connectionString="Data Source=DESKTOP-GMON3EJ;Initial Catalog=GeneralLedger;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />-->


    <!--<add name="MainDB" connectionString="SERVER=DESKTOP-GMON3EJ;UID=sa;pwd=123456;DATABASE=GeneralLedgerV2;Async=true" providerName="System.Data.SqlClient" />
    <add name="GeneralLedgerContext" connectionString="metadata=res://*/Domain.GeneralLedgerContext.csdl|res://*/Domain.GeneralLedgerContext.ssdl|res://*/Domain.GeneralLedgerContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-GMON3EJ;initial catalog=GeneralLedgerV2;User ID=sa;Password=123456;integrated security=False;Trusted_Connection=False;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GeneralLedger.Properties.Settings.GeneralLedgerConnectionString" connectionString="Data Source=DESKTOP-GMON3EJ;Initial Catalog=GeneralLedgerV2;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />-->


  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-14.0.0.0" newVersion="14.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>